services:
  db:
    image: mysql:9.5
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: flask_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  
  web:
    build:
      context: .
    depends_on:
      - db
    environment:
      FLASK_ENV: development
    volumes:
      - .:/app
  
volumes:
  db_data: